
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            
        </div>
        <a class="navbar-brand" href="#">
            <img class="img-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy7gbhTNgTryGj3Y5ug9FtBqKks08o-ONw85envpyTYPP2VBGAv3kkH2wawsXFC3drbnY&usqp=CAU" alt="">
            Cursos Online
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Informacion <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hobies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Estudios</a>
            </li>
          </ul>
          <span class="navbar-text">
            Contacto
          </span>
        </div>
      </nav> 
