.img-logo {
    width: 100%;
    max-width: 70px;
    height: auto;
    border-radius: 50%;
}

.nav-link{
    padding-left: 60px !important;
    justify-content: center !important
}

.example-spacer {
    flex: 1 1 auto;
}

.color_back{
    background-color: rgb(72, 70, 70);
  
}

mat-toolbar{
    color: #ffff;
}
.title{
    padding-left: 20px;
}

.img-user{
    transform: scale(1.4); 
}
  