
<app-toolbar></app-toolbar>
<div class="row">
    <div class="col-md-12 fondo-color c-p" >
      <div class="row">
        <!-- <ngx-toast-notifier></ngx-toast-notifier>  -->
      </div> 
      <!-- <app-login (valorEnviado)="funCambio($event)"></app-login>  -->
    </div>
    <div class=" col-md-2 c-p" >
      <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="col-md-10 fondo-color c-p"> 
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>
  