
<div id="sidebar" class="fondo row">
    <nav class="pb-5">
        <div class="sidebar-header pl-4 mt-4">
            <h3>Menu de Opciones</h3>
        </div>
        <mat-list class="m-3">
            <mat-list-item>
              <span class=" pr-3"><mat-icon >group</mat-icon></span>
              <span ><a>Alumnos</a></span>
            </mat-list-item>
            <mat-list-item>
                <span class=" pr-3"><mat-icon >home</mat-icon></span>
                <span >Cursos</span>
            </mat-list-item>
          <mat-list-item>
            <span class=" pr-3"><mat-icon>person</mat-icon></span>
            <span >Usuarios</span>
          </mat-list-item>
        </mat-list>
    </nav>
</div>
