
<div id="sidebar" class="fondo row">
    <nav class="pb-5">
        <div class="sidebar-header pl-4 mt-4">
            <h3>Menu de Opciones</h3>
        </div>
        <mat-list class="m-3">
            <mat-list-item>
              <a routerLink="/alumnos">
                <span class=" pr-3" ><mat-icon >group</mat-icon></span>
                <span >Alumnos</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="/cursos">
                <span class=" pr-3" ><mat-icon >home</mat-icon></span>
                <span >Cursos</span>
              </a>
            </mat-list-item>
          <mat-list-item>
            <a routerLink="/usuarios">
              <span class=" pr-3 " ><mat-icon >person</mat-icon></span>
              <span >Usuarios</span>
            </a>
          </mat-list-item>
        </mat-list>
    </nav>
</div>
