<div class="modal-header">
  <h1 mat-dialog-title>Desea Eliminar Paciente?</h1>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>
<div class="modal-body">
  <div mat-dialog-content>
    <p>Se eliminaran todos los datos correspondientes a el paciente. Confirme si desea continuar</p>
    <br>
  </div>
</div>
<div class="modal-footer">
<div mat-dialog-actions>
  <button class="btn btn-success" mat-button mat-dialog-close (click)="confirmDelete()">Ok</button>
  <button class="btn btn-danger" mat-button mat-dialog-close>Close</button>
</div>
